@page
@model ExternalLoginModel
@{
    ViewData["Title"] = "Register";
}

<h2>@ViewData["Title"]</h2>
<h4>Associate your @Model.LoginProvider account.</h4>
<hr />

<p class="text-info">
    You've successfully authenticated with <strong>@Model.LoginProvider</strong>.
    Please confirm information and click the Register button to finish logging in.
</p>

@*<div class="row">
        <div class="col-md-4">
            <form asp-page-handler="Confirmation" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Input.Email"></label>
                    <input asp-for="Input.Email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-default">Register</button>
            </form>
        </div>
    </div>

    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }*@

<div class="mt-3 w-50 mx-auto text-center form-text text-strong">
    <h1 class="text-center">@ViewData["Title"]</h1>
    <hr class="eventures-bg-color hr-2" />
    <form asp-page-handler="Confirmation" asp-route-returnUrl="@Model.ReturnUrl" method="post">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-row justify-content-between">
            <div class="form-group w-47">
                <label asp-for="Input.Username"></label>
                <input asp-for="Input.Username" class="form-control" placeholder="Username..." />
                <span asp-validation-for="Input.Username" class="text-danger"></span>
            </div>
            <div class="form-group w-47">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" placeholder="Email..." />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
        </div>
        <hr class="eventures-bg-color hr-2" />
        <div class="form-row justify-content-between">
            <div class="form-group w-47">
                <label asp-for="Input.FirstName"></label>
                <input asp-for="Input.FirstName" class="form-control" placeholder="First Name..." />
                <span asp-validation-for="Input.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group w-47">
                <label asp-for="Input.LastName"></label>
                <input asp-for="Input.LastName" class="form-control" placeholder="Last Name..." />
                <span asp-validation-for="Input.LastName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Input.UniqueCitizenNumber"></label>
            <input asp-for="Input.UniqueCitizenNumber" class="form-control" placeholder="Unique Citizen Number..." />
            <span asp-validation-for="Input.UniqueCitizenNumber" class="text-danger"></span>
        </div>
        <hr class="eventures-bg-color hr-2" />
        <button type="submit" class="btn eventures-bg-color">Register</button>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

