@model CarWithPartsModel

@{
    ViewData["Title"] = "Car details";
}

<h1>@ViewData["Title"]</h1>
<p><strong>Make:</strong> @Model.Make</p>
<p><strong>Model:</strong> @Model.Model</p>
<p><strong>Traveled distance:</strong> @Model.TraveledDistance km</p>
<hr />

@if (@Model.Parts.Any())
{
    <h4>Parts:</h4>
    <table class="table table-hover table-striped">
        <thead class="thead-dark">
            <tr>
                <th>Name</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var part in @Model.Parts)
            {
                <tr>
                    <td>@part.Name</td>
                    <td>$@part.Price</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No parts to show...</p>
}
