@model Eventures.Common.Models.Orders.UserOrderListOnPageViewModel
@{
    ViewData["Title"] = "My Events";
}

<h1 class="text-center pt-3">@ViewData["Title"]</h1>
<hr class="eventures-bg-color hr-2" />

@if (!Model.Events.Any())
{
    <h3 class="text-center pt-3">There is no events to show yet...</h3>
}
else
{
    <table class="table">
        <thead>
            <tr class="text-strong">
                <th scope="col" class="border-top-0">#</th>
                <th scope="col" class="border-top-0">Name</th>
                <th scope="col" class="border-top-0">Start</th>
                <th scope="col" class="border-top-0">End</th>
                <th scope="col" class="border-top-0">Tickets</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var currentEvent in Model.Events)
            {
                <tr>
                    <th scope="row">@currentEvent.Number</th>
                    <td>@currentEvent.Name</td>
                    <td>@currentEvent.Start</td>
                    <td>@currentEvent.End</td>
                    <td>@currentEvent.TicketsCount</td>
                </tr>
            }
        </tbody>
    </table>

    <hr class="eventures-bg-color hr-2" />

    @Html.PagedListPager(
        (IPagedList)Model.Events,
        page => Url.Action("Index", new { page }),
        PagedListRenderOptionsBase.OnlyShowFivePagesAtATime)
}

<hr class="eventures-bg-color hr-2" />